In [1]:
x=6
print(x)

6

# hiii

hello markdown

raw nb convert

In [2]:
x=88
print(x)
type(x)

88

int

In [3]:
type(c)

NameError: name 'c' is not defined

In [4]:
v=false
type(v)

NameError: name 'false' is not defined

In [5]:
v=true
type(v)

NameError: name 'true' is not defined

In [6]:
v=True
type(v)

bool

In [7]:
t=3i+5
print(t)
type(t)

SyntaxError: invalid syntax (<ipython-input-7-9cb4eade5af0>, line 1)

In [8]:
t=3j+5
print(t)
type(t)

(5+3j)

complex

In [9]:
# forcommenting

In [10]:
x=input("enter any number")
print(x)

enter any number1
1

In [20]:
x=int(input("enter 1st no.:"))
y=int(input("enter 2nd no.:"))
z=x+y
print(z)

enter 1st no.:3
enter 2nd no.:4
7

In [1]:
a=5
b=6
if b>a:
    print("b is greater than a")

b is greater than a

In [2]:
a=5
b=6
if b>a:
print("b is greater than a")

IndentationError: expected an indented block (<ipython-input-2-904ddf66e907>, line 4)

In [3]:
a=5
b=6
if b>a:
    pass
print("b is greater than a")

b is greater than a

In [5]:
a=5
b=5
if b>a:
    print("bis greaer than a") 
elif a==b:  #for more condition its else if
    print("a and b are equal")

a and b are equal

In [35]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 if x =="banana":
    break
 print(x)

apple

In [9]:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [20]:
thislist = ["apple", "banana","cherry","gooseberry","pine","orange"]
if "blue" in thislist:
 print("yes") 
print("no")

no

In [22]:
thislist = ["apple", "banana","cherry","gooseberry","pine","orange"]
thislist.append(3)
print(thislist)

['apple', 'banana', 'cherry', 'gooseberry', 'pine', 'orange', 3]

In [27]:
thislist = ["apple", "banana","cherry","gooseberry","pine","orange"]
thislist.insert("blue","3")
print(thislist)

TypeError: 'str' object cannot be interpreted as an integer

In [28]:
thislist = ["apple", "banana","cherry","gooseberry","pine","orange"]
del thislist[0]
print(thislist)

['banana', 'cherry', 'gooseberry', 'pine', 'orange']

In [29]:
thislist = ["apple", "banana","cherry","gooseberry","pine","orange"]
del thislist

In [30]:
thislist = ["apple", "banana","cherry","gooseberry","pine","orange"]
thislist.clear()
print(thislist)

[]

In [31]:
thislist = ["apple", "banana","cherry","gooseberry","pine","orange"]
thislist.clear(3)
print(thislist)

TypeError: clear() takes no arguments (1 given)

In [32]:
thistuple=("apple", "banana","cherry","gooseberry","pine","orange")
print(thistuple)

('apple', 'banana', 'cherry', 'gooseberry', 'pine', 'orange')

In [33]:
thistuple=("apple", "banana","cherry","gooseberry","pine","orange")
print(thistuple[-4:-1])

('cherry', 'gooseberry', 'pine')

In [35]:
x=("apple", "banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [36]:
x=("apple", "banana","cherry")
for x in x:
    print(x)

apple
banana
cherry

In [40]:
x=("apple", "banana","cherry")
if "br" in x:
 print("yes")

In [1]:
thisset={"hi","helo","hola"}
print(thisset)

{'hi', 'helo', 'hola'}

In [3]:
thisset={"hi","helo","hola","bonjour","6","kemcho"}
print(thisset)

{'helo', 'hola', 'hi', 'kemcho', 'bonjour', '6'}

In [4]:
thisset={"hi","helo","hola","bonjour","6","kemcho"}
for x in thisset:
    print(x)

helo
hola
hi
kemcho
bonjour
6

In [5]:
thisset={"hi","helo","hola","bonjour","6","kemcho"}
print("hi" in thisset)

True

In [6]:
thisset={"hi","helo","hola","bonjour","6","kemcho"}
print("kemonache" in thisset)

False

In [7]:
 #to add single or less elements
thisset.add("bonjour")
thisset.add("kashi ahes")
print(thisset)

{'helo', 'hola', 'kashi ahes', 'hi', 'bonjour'}

In [8]:
thisset={"hi","helo","hola"}   #to add multiple elements at same time
thisset.update(["yeng ididi","hieeeooo","hlooo","kai na"])
print(thisset)

{'hlooo', 'helo', 'hola', 'hieeeooo', 'hi', 'yeng ididi', 'kai na'}

In [9]:
thisset={"hi","helo","hola"}
print(len(thisset))

3

In [10]:
thisset={"hi","helo","hola","hi"}
print(len(thisset))  #doesnt count repeated elements, counts as one

3

In [12]:
thisset={"hi","helo","hola","hi"}
thisset.remove("helo")
print(thisset)

{'hi', 'hola'}

In [13]:
thisset={"hi","helo","hola","bonjour","6","kemcho"} #can remove any element
thisset.remove("helo")
print(thisset)

{'hola', 'hi', 'kemcho', 'bonjour', '6'}

In [14]:
thisset={"hi","helo","hola","bonjour","6","kemcho"}  #to delete particular element
thisset.discard("bonjour")
print(thisset)

{'helo', 'hola', 'hi', 'kemcho', '6'}

In [17]:
thisset={"hi","helo","hola","bonjour","6","kemcho"} 
x=thisset.pop() #removes last element from set ,(ps: we dont know which is the last element)
print(x)
print(thisset)

helo
{'hola', 'hi', 'kemcho', 'bonjour', '6'}

In [18]:
thisset={"hi","helo","hola","bonjour","6","kemcho"} 
thisset.clear()
print(thisset)

set()

In [19]:
thisset={"hi","helo","hola","bonjour","6","kemcho"} 
del thisset
print(thisset) #throwsback error as we have delelted already and tring to print

NameError: name 'thisset' is not defined

In [22]:
set1={"a","b","c","d"}
set2={"1","2","3"}
set3=set1.union(set2)
print(set3)   #for union of 2 sets

{'b', '2', '1', '3', 'd', 'a', 'c'}

In [24]:
set1={"a","b","c","d"}
set2={"1","2","3"}
set1.update(set2)
print(set1) #does same operation as union

{'b', '2', '1', '3', 'd', 'a', 'c'}

In [25]:
thisset=set(("a","b","c","d"))
print(thisset) #set constructor ps:add double round brackets for this method

{'b', 'a', 'c', 'd'}

In [28]:
thisdict={
    "name":"ankita",
    "dob":"27 sept 2000",
    "usn":"019"
}
print(thisdict)

{'name': 'ankita', 'dob': '27 sept 2000', 'usn': '019'}

In [29]:
x=thisdict["name"]
print(x)
y=thisdict["usn"] #accessing the memebers of dictionary
print(y)

ankita
019

In [31]:
x=thisdict.get("name") #can also use get function for accesing
print(x)

ankita

In [33]:
thisdict={
    "name":"ankita",
    "dob":"27 sept 2000",
    "usn":"019"
}
thisdict["name"]= "ashmita"
print(thisdict)

{'name': 'ashmita', 'dob': '27 sept 2000', 'usn': '019'}

In [36]:
for x in thisdict:
 print(x)

name
dob
usn

In [66]:
for x in thisdict:
 print(thisdict[x])

ankita
27 sept 2000
019

In [41]:
for x,y in thisdict.items():
 print(x,y)

name ashmita
dob 27 sept 2000
usn 019

In [44]:
 thisdict={
    "name":"ankita",
    "dob":"27 sept 2000",
    "usn":"019"
}
thisdict["color"]="red"
print(thisdict)

{'name': 'ankita', 'dob': '27 sept 2000', 'usn': '019', 'color': 'red'}

In [47]:
 thisdict={
    "name":"ankita",
    "dob":"27 sept 2000",
    "usn":"019"
}
thisdict.pop("dob")
print(thisdict)

{'name': 'ankita', 'usn': '019'}

In [49]:
 thisdict={
    "name":"ankita",
    "dob":"27 sept 2000",
    "usn":"019"
}
del thisdict["dob"]
print(thisdict)

{'name': 'ankita', 'usn': '019'}

In [53]:
 thisdict={
    "name":"ankita",
    "dob":"27 sept 2000",
    "usn":"019"
}
thisdict.clear()
print(thisdict)

{}

In [55]:
 thisdict={
    "name":"ankita",
    "dob":"27 sept 2000",
    "usn":"019"
}
mydict=thisdict.copy()
print(mydict)

{'name': 'ankita', 'dob': '27 sept 2000', 'usn': '019'}

In [65]:
 thisdict={
    "name":"ankita",
    "dob":"27 sept 2000",
    "usn":"019"
}
if  "name" in thisdict:
  print("yes name exists as key of this dict")

yes name exists as key of this dict
no its doesnt exist

In [5]:
x=int(input("enter any no.:"))
if x%2==0:
    print("no is even")
else:
    print("no is odd")

enter any no.:2
no is even

In [29]:
i = 1
while i < 6:
  i += 1
  print(i)
  if i == 3:
    break

2
3

In [19]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [30]:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [31]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [32]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [33]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [34]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [35]:
range(5)

range(0, 5)

In [36]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [37]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [38]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [50]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
   print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [54]:
for x in [0, 1, 2]:
  
 print(x)

0
1
2

In [55]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [58]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-3])

apple

In [62]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [60]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [63]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [64]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [3]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [4]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [5]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [6]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [9]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]


list1.append(list2)

print(list1)

['a', 'b', 'c', [1, 2, 3]]

In [10]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [11]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

# tuple

In [13]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [16]:
x=("apple","banana","kiwi")
y=list(x)
y[1]="strawberry"
x=tuple(y)
print(x)

('apple', 'strawberry', 'kiwi')

In [17]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [18]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [19]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [20]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [21]:
tuple=("apple")
print(type(thistuple))

<class 'str'>

In [23]:
tuple=("apple")
print(tuple)

apple

In [24]:
tuple=("apple",)
print(tuple)

('apple',)

In [25]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [27]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

TypeError: 'tuple' object is not callable

In [30]:
x=tuple("apple", "banana", "cherry")
print(x)

TypeError: 'tuple' object is not callable